
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="mini-menu">
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="ÜYE GİRİŞİ">ÜYE GİRİŞİ</a>
                    </li>
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="ÜYE OL">ÜYE OL</a>
                    </li>
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="YAYINEVİ EKLE">YAYINEVİ EKLE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row row-menu">
                    <div class="col-12 col-lg-2">
                        <a href="/" title="Kitaprazzi Anasayfa">
                            <img src="/Assets/dist/img/kitaprazzi-logo.png" />
                        </a>
                    </div>
                    <div class="col-12 col-lg-10 col-menu">
                        <div class="mobile-menu d-lg-none">MENÜ</div>
                        <ul class="main-menu d-lg-inline-block">
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">ANASAYFA</span></a>
                            </li>
                            <li class="main-menu-item has-submenu">
                                <span class="main-menu-item-link" href="javascript:;" title="">
                                    <span class="main-menu-item-wrapper">
                                        ERKEN ÖĞRENME
                                        <i class="fa fa-chevron-down"></i>
                                    </span>
                                    
                                    <div class="wide-menu">
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </span>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLKOKUL</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">ORTAOKUL</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">LİSE</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">KİTAPRAZZİ</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLETİŞİM</span></a>
                            </li>
                            <li class="close-menu d-lg-none">X</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="filter mb">
                <div class="filter-title">SONUÇLARI FİLTRELE</div>
                <div class="row filter-list">
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">YAYINCI</div>
                            <div class="filter-list-content">
                                content
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">OYLAMA</div>
                            <div class="filter-list-content">
                                content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">

            <div class="row">
                <div class="col-12">
                    <div class="title-row">
                        <a href="javascript:;" title="" class="main-title">ERKEN ÖĞRENME / 48-60 AY / OKUL ÖNCESİ SETLER</a>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="javascript:;" title="" class="product">
                                <span class="product-image">
                                    <span class="product-image-wrapper">
                                        <img src="/Assets/dist/img/kitap.jpg" alt="" />
                                    </span>
                                </span>
                                <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                                <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                                <span class="product-title">Düşünüyorum Büyüyorum</span>
                                <span class="star-rating">
                                    <span class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="copyright">Copyright &copy; 2018 kitaprazzi.com</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="social">
                            <li class="social-item">
                                <a href="javascript:;" title=""><i class="fa fa-facebook-square"></i></a>
                            </li>
                            <li class="social-item">
                                <a href="javascript:;" title=""><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>