
@{
    ViewBag.Title = "Detay Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mb20 breadcrumbs d-none d-lg-block">
    <div class="row">
        <dv class="col-12 d-none d-lg-block">
            <ul>
                <li><a href="javascript:;" title="" class="item">Anasayfa</a></li>
                <li><a href="javascript:;" title="" class="item">Erken Öğrenme</a></li>
                <li><a href="javascript:;" title="" class="item">36-48 Ay</a></li>
                <li><span class="item">Çamlıca Çocuk Yayınları Okul Öncesi Kitapları</span></li>
            </ul>
        </dv>
    </div>
</div>

<div class="container mb">
    <div class="row mb">
        <div class="col-12 col-lg-6 order-lg-2">
            <div class="detail">
                <div class="detail-title">DÜŞÜNÜYORUM BÜYÜYORUM</div>
                <a href="javascript:;" title="" class="detail-category">Çamlıca Çocuk Yayınları</a>
                <div class="detail-description">
                    <p>Genel yetenek, bireyin "SÖZCÜK", "SAYI", "İMGE" ve "ŞEKİL"leri kullanarak yaptığı zihinsel işlemlerle ölçülebilir.</p>
                    <p>36’u çözümlü 96 SÖZEL YETENEK sorusu, 36’i çözümlü 96 SAYISAL YETENEK sorusu, 32’i çözümlü 80 ŞEKİL YETENEĞİ sorusu, 8’sı çözümlü 132 ÇOKLU YETENEK ve KARMA TEST sorusu olmak üzere toplamda 404 sorunun yer aldığı bu özel kitap, bireylerin genel yeteneklerinin ölçülmesi amacıyla özenle hazırlanmış işlevsel bir kılavuz.</p>
                    <p>Bu türdeki kitapların genel değerlendirilmesinde, yetenek testleri, içerik bakımından zor veya kolay olarak sınıflandırılmamalıdır. Soru üzerinde ulaşılacak yargı için gerekli ön bilgisi olan her birey, hangi yaşta olursa olsun zihinsel yetisini kullanabilmektedir. 2. sınıfa yönelik bir sayı sorusunun çözümü, toplama işlemine başvurulmasını gerektiriyorsa toplama işlemini bilen tüm bireylerin bu soru üzerinde akıl yürütebileceği düşünülebilmektedir. O nedenle, kitaptaki sorular 2. sınıf düzeyine göre düzenlenmiş olmakla birlikte daha üst sınıflardaki öğrenciler için de önemli bir kaynaktır.</p>
                    <p>7 yaş ve üzerindeki her yaştan bireye genel (akademik) yeteneğini ölçme ve değerlendirme fırsatı sunan bu benzersiz çalışma, 1600’den fazla anlamlı şekil elde edilebilecek TANGRAM (Çin bulmacası) hediyesi ile bildiklerinizi sınamanıza ve yeni ufuklar keşfetmenize yardımcı olacak yapıcı bir eser…</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 order-lg-1">
            <div class="image-wrapper">
                <div class="image-main">
                    <img src="~/Assets/dist/img/kitap.jpg" alt="" />
                </div>
                <div class="image-group">
                    <span>Sayfa Örnekleri</span>
                    <ul class="image-list">
                        <li class="image-list-item">
                            <img src="~/Assets/dist/img/kitap.jpg" alt="" />
                        </li>
                        <li class="image-list-item">
                            <img src="~/Assets/dist/img/kitap.jpg" alt="" />
                        </li>
                        <li class="image-list-item">
                            <img src="~/Assets/dist/img/kitap.jpg" alt="" />
                        </li>
                    </ul>
                    <ul class="rating">

                        <li>
                            <small>A Puanı</small>
                            <span>7,1</span>
                        </li>
                        <li>
                            <small>B Puanı</small>
                            <span>7,6</span>
                        </li>
                        <li>
                            <small>C Puanı</small>
                            <span>7,4</span>
                        </li>
                        <li>
                            <small>Ortalama Puanı</small>
                            <span>7,3</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-3 order-lg-3">
            <div class="search-box dealers">
                <div class="search-box-title">BAYİ BUL</div>
                <div class="search-box-line">
                    <span class="search-box-line-title mb30">İl Seçiniz</span>
                    <span class="search-box-line-element">
                        <select>
                            <option selected="">İstanbul (Avrupa)</option>
                            <option selected="">İstanbul (Asya)</option>
                            <option selected="">İstanbul (Antartika)</option>
                        </select>
                    </span>
                </div>
                <div class="search-box-line">
                    <span class="search-box-line-title">İlçe Seçiniz</span>
                    <span class="search-box-line-element">
                        <select>
                            <option selected="">Bağcılar</option>
                            <option selected="">Bagcies</option>
                            <option selected="">Begalunya</option>
                        </select>
                    </span>
                </div>
                <div class="dealers-list">
                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb">
        <div class="row">
            <div class="col-12">
                <div class="title-row">
                    <a href="javascript:;" title="" class="main-title">ÖĞRETMEN YORUMLARI (16 Yorum)</a>
                    <a href="javascript:;" title="" class="main-link d-none d-lg-block">TÜMÜNÜ GÖRÜNTÜLE <i class="fa fa-long-arrow-right"></i></a>
                </div>
                <div class="comment">
                    <div class="comment-row">
                        <div class="col-3 col-lg-1">
                            <img src="" alt="" class="comment-avatar" />
                        </div>
                        <div class="col-9 col-lg-11">
                            <div class="comment-name">Burak Çakır</div>
                            <div class="comment-title">Öğrenciler için tam bir başucu kitabı</div>
                            <div class="comment-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis posuere eros, ac condimentum orci feugiat at. Duis ultricies lectus sem, quis semper nibh accumsan eget. Curabitur fringilla dapibus semper. Suspendisse turpis mi, tincidunt ut tellus ut, varius placerat nunc. Nunc ultrices sapien placerat ante pulvinar, sed ultricies quam rhoncus. Phasellus lacinia, enim sit amet congue sodales, ipsum arcu rutrum metus, eu volutpat ipsum lectus non justo. Morbi quis dignissim purus. Phasellus rhoncus eros quis purus sagittis, eget fringilla libero rutrum. Nulla a sapien quis tortor aliquam porttitor. Donec velit risus, lobortis a leo quis, cursus condimentum tellus. Fusce rhoncus est efficitur libero porttitor, non ultricies risus mattis. Praesent pretium varius nulla eget aliquam.</p>
                                <p>Ut aliquam id leo non dignissim. Donec sollicitudin enim sodales, lacinia nulla at, gravida dui. Ut rhoncus vestibulum diam, quis eleifend augue ornare id. Vestibulum placerat odio in maximus feugiat. Cras consequat in lectus varius imperdiet. Duis ut imperdiet nibh, non facilisis erat. Vivamus sed quam sit amet arcu lacinia viverra. Quisque suscipit eu urna non eleifend. Integer sed neque ut eros ultricies facilisis eu laoreet turpis. Ut tempus sem nec gravida pretium. Donec nec orci tincidunt, luctus lacus sed, ornare mi. Nam tincidunt, augue nec fermentum interdum, leo dolor cursus ex, nec commodo tellus tellus in justo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-row">
                        <div class="col-3 col-lg-1">
                            <img src="" alt="" class="comment-avatar" />
                        </div>
                        <div class="col-9 col-lg-11">
                            <div class="comment-name">Burak Çakır</div>
                            <div class="comment-title">Öğrenciler için tam bir başucu kitabı</div>
                            <div class="comment-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis posuere eros, ac condimentum orci feugiat at. Duis ultricies lectus sem, quis semper nibh accumsan eget. Curabitur fringilla dapibus semper. Suspendisse turpis mi, tincidunt ut tellus ut, varius placerat nunc. Nunc ultrices sapien placerat ante pulvinar, sed ultricies quam rhoncus. Phasellus lacinia, enim sit amet congue sodales, ipsum arcu rutrum metus, eu volutpat ipsum lectus non justo. Morbi quis dignissim purus. Phasellus rhoncus eros quis purus sagittis, eget fringilla libero rutrum. Nulla a sapien quis tortor aliquam porttitor. Donec velit risus, lobortis a leo quis, cursus condimentum tellus. Fusce rhoncus est efficitur libero porttitor, non ultricies risus mattis. Praesent pretium varius nulla eget aliquam.</p>
                                <p>Ut aliquam id leo non dignissim. Donec sollicitudin enim sodales, lacinia nulla at, gravida dui. Ut rhoncus vestibulum diam, quis eleifend augue ornare id. Vestibulum placerat odio in maximus feugiat. Cras consequat in lectus varius imperdiet. Duis ut imperdiet nibh, non facilisis erat. Vivamus sed quam sit amet arcu lacinia viverra. Quisque suscipit eu urna non eleifend. Integer sed neque ut eros ultricies facilisis eu laoreet turpis. Ut tempus sem nec gravida pretium. Donec nec orci tincidunt, luctus lacus sed, ornare mi. Nam tincidunt, augue nec fermentum interdum, leo dolor cursus ex, nec commodo tellus tellus in justo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-row">
                        <div class="col-3 col-lg-1">
                            <img src="" alt="" class="comment-avatar" />
                        </div>
                        <div class="col-9 col-lg-11">
                            <div class="comment-name">Burak Çakır</div>
                            <div class="comment-title">Öğrenciler için tam bir başucu kitabı</div>
                            <div class="comment-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis posuere eros, ac condimentum orci feugiat at. Duis ultricies lectus sem, quis semper nibh accumsan eget. Curabitur fringilla dapibus semper. Suspendisse turpis mi, tincidunt ut tellus ut, varius placerat nunc. Nunc ultrices sapien placerat ante pulvinar, sed ultricies quam rhoncus. Phasellus lacinia, enim sit amet congue sodales, ipsum arcu rutrum metus, eu volutpat ipsum lectus non justo. Morbi quis dignissim purus. Phasellus rhoncus eros quis purus sagittis, eget fringilla libero rutrum. Nulla a sapien quis tortor aliquam porttitor. Donec velit risus, lobortis a leo quis, cursus condimentum tellus. Fusce rhoncus est efficitur libero porttitor, non ultricies risus mattis. Praesent pretium varius nulla eget aliquam.</p>
                                <p>Ut aliquam id leo non dignissim. Donec sollicitudin enim sodales, lacinia nulla at, gravida dui. Ut rhoncus vestibulum diam, quis eleifend augue ornare id. Vestibulum placerat odio in maximus feugiat. Cras consequat in lectus varius imperdiet. Duis ut imperdiet nibh, non facilisis erat. Vivamus sed quam sit amet arcu lacinia viverra. Quisque suscipit eu urna non eleifend. Integer sed neque ut eros ultricies facilisis eu laoreet turpis. Ut tempus sem nec gravida pretium. Donec nec orci tincidunt, luctus lacus sed, ornare mi. Nam tincidunt, augue nec fermentum interdum, leo dolor cursus ex, nec commodo tellus tellus in justo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
