@using Kitaprazzi.Data.Model;
@{
    ViewBag.Title = "KitapRazzi Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mainControls = ViewBag.MainControls as List<MainControl>;
}

<div class="container mb">
    <div class="row">
        <div class="col-md-4">
            @{
                Html.RenderPartial("~/Views/Home/_Partial/_SearchBox.cshtml");
            }
        </div>
        <div class="col-md-8">
            @{
                Html.RenderPartial("~/Views/Home/_Partial/_MainSlider.cshtml");
            }
        </div>


    </div>
</div>
@{ 
    Html.RenderAction("BookList", "Home", new { type = "popular" });

    foreach (var mainControl in mainControls)
    {
        Html.RenderAction("BookList", "Home",  new { control = mainControl, type = "category" });
    }
}




