
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="mini-menu">
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="ÜYE GİRİŞİ">ÜYE GİRİŞİ</a>
                    </li>
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="ÜYE OL">ÜYE OL</a>
                    </li>
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="YAYINEVİ EKLE">YAYINEVİ EKLE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row row-menu">
                    <div class="col-12 col-lg-2">
                        <a href="/" title="Kitaprazzi Anasayfa">
                            <img src="/Assets/dist/img/kitaprazzi-logo.png" />
                        </a>
                    </div>
                    <div class="col-12 col-lg-10 col-menu">
                        <div class="mobile-menu d-lg-none">MENÜ</div>
                        <ul class="main-menu d-lg-inline-block">
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">ANASAYFA</span></a>
                            </li>
                            <li class="main-menu-item has-submenu">
                                <span class="main-menu-item-link" href="javascript:;" title="">
                                    <span class="main-menu-item-wrapper">
                                        ERKEN ÖĞRENME
                                        <i class="fa fa-chevron-down"></i>
                                    </span>
                                    
                                    <div class="wide-menu">
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </span>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLKOKUL</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">ORTAOKUL</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">LİSE</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">KİTAPRAZZİ</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLETİŞİM</span></a>
                            </li>
                            <li class="close-menu d-lg-none">X</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mb">
    <div class="row">
        <div class="col-md-4">
            <div class="search-box">
                <div class="search-box-title">HANGİ KİTABI ARIYORSUNUZ?</div>
                <div class="search-box-line">
                    <span class="search-box-line-title mb30">Sınıf Seçiniz</span>
                    <span class="search-box-line-element">
                        <select>
                            <option selected>Okul Öncesi / 36-48 Ay</option>
                            <option selected>Okul Öncesi / 36-48 Ay</option>
                            <option selected>Okul Öncesi / 36-48 Ay</option>
                        </select>
                    </span>
                </div>
                <div class="search-box-line">
                    <span class="search-box-line-title">Ders Seçiniz</span>
                    <span class="search-box-line-element">
                        <select>
                            <option selected>Fen ve Doğa Deneyleri</option>
                            <option selected>Fen ve Doğa Deneyleri</option>
                            <option selected>Fen ve Doğa Deneyleri</option>
                        </select>
                    </span>
                </div>
                <div class="search-box-line">
                    <input class="find-button" type="submit" value="KİTAPLARI BUL">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="main-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-slide-item type2">
                            <img src="http://corinth.ascsa.net/image?type=preview&id=Corinth%3AImage%3Adigital%202014%2011149" alt="" />
                            <span class="main-slide-info">
                                <span class="main-slide-title">BİR OCAK YAYINLARININ DİKKAT VE GÖRSEL ALGI KİTABINI OKUMUŞ MUYDUNUZ?</span>
                                <a href="javascript:;" title="" class="main-slide-button d-none d-md-block">KİTABI İNCELE</a>
                            </span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-slide-item">
                            <img src="https://www.theclymb.com/cImages/Website_0/type_730/EPL01233_1163722.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev d-none d-md-block"><i class="fa fa-long-arrow-left"></i></div>
                <div class="swiper-button-next d-none d-md-block"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <a href="javascript:;" title="" class="main-title">EN YÜKSEK PUANLI KİTAPLAR</a>
                <a href="javascript:;" title="" class="main-link d-none d-lg-block">TÜMÜNÜ GÖRÜNTÜLE <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <a href="javascript:;" title="" class="main-title">İLKOKUL 1. SINIF KİTAPLARI</a>
                <a href="javascript:;" title="" class="main-link d-none d-lg-block">TÜMÜNÜ GÖRÜNTÜLE <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <a href="javascript:;" title="" class="main-title">İLKOKUL 5. SINIF KİTAPLARI</a>
                <a href="javascript:;" title="" class="main-link d-none d-lg-block">TÜMÜNÜ GÖRÜNTÜLE <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a href="javascript:;" title="" class="product">
                        <span class="product-image">
                            <span class="product-image-wrapper">
                                <img src="/Assets/dist/img/kitap.jpg" alt="" />
                            </span>
                        </span>
                        <span class="product-publisher">Çamlıca Çocuk Yayınları</span>
                        <span class="product-category">Okul Öncesi / 36-48 Ay</span>
                        <span class="product-title">Düşünüyorum Büyüyorum</span>
                        <span class="star-rating">
                            <span class="star-rating__wrap">
                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="copyright">Copyright &copy; 2018 kitaprazzi.com</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="social">
                            <li class="social-item">
                                <a href="javascript:;" title=""><i class="fa fa-facebook-square"></i></a>
                            </li>
                            <li class="social-item">
                                <a href="javascript:;" title=""><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>