<footer>
    <div class="container-fluid footer-top">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5 mr-md-auto">
                        <div class="box newsletter">
                            <div class="box-title">E-BÜLTEN ABONELİĞİ</div>
                            <div class="box-text">Kampanyalardan haberdar olmak için e-bültenimize kayıt olun.</div>
                            <div class="newsletter-wrapper">
                                <input type="text" class="e-mail" placeholder="E-posta adresinizi giriniz." />
                                <span class="subscribe"><i class="fa fa-envelope-square"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="box socialbox">
                            <div class="box-title">SOSYAL MEDYADA BİZİ TAKİP EDİN</div>
                            <div class="box-text">Sosyal medyaya özel kampanya ve duyuruları yakala!</div>
                            <div class="box-wrapper">
                                <ul class="social">
                                    <li class="social-item">
                                        <a href="javascript:;" title=""><i class="fa fa-facebook-square"></i></a>
                                    </li>
                                    <li class="social-item">
                                        <a href="javascript:;" title=""><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bottom">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="copyright">Copyright &copy; 2018 kitaprazzi.com</div>
                    </div>
                    <div class="col-12 col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>