<footer>
    <div class="container-fluid footer-top">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5 mr-md-auto">
                        <div class="box newsletter">
                            <div class="box-title">E-BÜLTEN ABONELİĞİ</div>
                            <div class="box-text">Kampanyalardan haberdar olmak için e-bültenimize kayıt olun.</div>
                            <div class="newsletter-wrapper">
                                <input type="text" class="e-mail" placeholder="E-posta adresinizi giriniz." />
                                <span class="subscribe"><i class="fa fa-envelope-square"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="box socialbox">
                            <div class="box-title">SOSYAL MEDYADA BİZİ TAKİP EDİN</div>
                            <div class="box-text">Sosyal medyaya özel kampanya ve duyuruları yakala!</div>
                            <div class="box-wrapper">
                                <ul class="social">
                                    <li class="social-item">
                                        <a href="javascript:;" title=""><i class="fa fa-facebook-square"></i></a>
                                    </li>
                                    <li class="social-item">
                                        <a href="javascript:;" title=""><i class="fa fa-twitter-square"></i></a>
                                    </li>
                                    <li class="social-item">
                                        <a href="javascript:;" title=""><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li class="social-item">
                                        <a href="javascript:;" title=""><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-middle">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="foot-box">
                            <b>100% Memnuniyet</b>
                            <i class="fa fa-smile-o"></i>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="foot-box">
                            <b>Detaylı İçerik</b>
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="foot-box">
                            <b>Adam gibi site</b>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-links">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="foot-box">
                            <h2>Kitaprazzi</h2>
                            <ul>
                                <li><a href="javascript:;" title="">Hakkımızda</a></li>
                                <li><a href="javascript:;" title="">Vizyon / Misyon</a></li>
                                <li><a href="javascript:;" title="">Yardım</a></li>
                                <li><a href="javascript:;" title="">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="foot-box">
                            <h2>Popüler Kategoriler</h2>
                            <ul>
                                <li><a href="javascript:;" title="">Site Kuralları</a></li>
                                <li><a href="javascript:;" title="">Gizlilik Politikası</a></li>
                                <li><a href="javascript:;" title="">Puanlama Yöntemi</a></li>
                                <li><a href="javascript:;" title="">Sponsorluk</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="foot-box">
                            <h2>Üyelik</h2>
                            <ul>
                                <li><a href="javascript:;" title="">Üye Ol</a></li>
                                <li><a href="javascript:;" title="">Üye Girişi</a></li>
                                <li><a href="javascript:;" title="">Şifremi Unuttum</a></li>
                                <li><a href="javascript:;" title="">Profilim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bottom">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright">Copyright &copy; 2018 kitaprazzi.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>