
@{
    ViewBag.Title = "_Header";
}
<header class="mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="mini-menu">
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="ÜYE GİRİŞİ">ÜYE GİRİŞİ</a>
                    </li>
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="ÜYE OL">ÜYE OL</a>
                    </li>
                    <li class="mini-menu-item">
                        <a class="mini-menu-item-link" href="javascript:;" title="YAYINEVİ EKLE">YAYINEVİ EKLE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row row-menu">
                    <div class="col-12 col-lg-2">
                        <a href="/" title="Kitaprazzi Anasayfa">
                            <img src="/Assets/dist/img/kitaprazzi-logo.png" />
                        </a>
                    </div>
                    <div class="col-12 col-lg-10 col-menu">
                        <div class="mobile-menu d-lg-none">MENÜ</div>
                        <ul class="main-menu d-lg-inline-block">
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">ANASAYFA</span></a>
                            </li>
                            <li class="main-menu-item has-submenu">
                                <span class="main-menu-item-link" href="javascript:;" title="">
                                    <span class="main-menu-item-wrapper">
                                        ERKEN ÖĞRENME
                                        <i class="fa fa-chevron-down"></i>
                                    </span>

                                    <div class="wide-menu">
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                        <span class="sub-menu-wrapper">
                                            <span class="sub-menu-title">36 - 48 Ay</span>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                                <li class="sub-menu-item"><a href="javascript:;" title="">Okul Öncesi Setler</a></li>
                                            </ul>
                                        </span>
                                    </div>
                                </span>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLKOKUL</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">ORTAOKUL</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">LİSE</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">KİTAPRAZZİ</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLETİŞİM</span></a>
                            </li>
                            <li class="close-menu d-lg-none">X</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>