@using Kitaprazzi.Data.Model
@{ 
    var userModel = (Kitaprazzi.Data.Model.User)ViewBag.UserModel;
    var categories = ViewBag.Categories as List<Kitaprazzi.Data.Model.Category>;
    var mainCategories = categories.Where(x=> x.CategoryID == 0) ?? new List<Kitaprazzi.Data.Model.Category>();
}
<header class="mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="mini-menu">
                    @if (!string.IsNullOrEmpty(userModel?.Email))
                    {
                        <li class="mini-menu-item">
                            <span>@Html.Raw($"Hoş Geldiniz: {userModel.Name} {userModel.Surname}")</span>
                        </li>

                    }
                    else
                    {
                        <li class="mini-menu-item">
                            <a class="mini-menu-item-link" href="/giris" title="ÜYE GİRİŞİ">ÜYE GİRİŞİ</a>
                        </li>
                        <li class="mini-menu-item">
                            <a class="mini-menu-item-link" href="/uye-kayit" title="ÜYE OL">ÜYE OL</a>
                        </li>
                        <li class="mini-menu-item">
                            <a class="mini-menu-item-link" href="javascript:;" title="YAYINEVİ EKLE">YAYINEVİ EKLE</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row row-menu">
                    <div class="col-12 col-lg-2">
                        <a href="/" title="Kitaprazzi Anasayfa">
                            <img src="/Assets/dist/img/kitaprazzi-logo.png" />
                        </a>
                    </div>
                    <div class="col-12 col-lg-10 col-menu">
                        <div class="mobile-menu d-lg-none">MENÜ</div>
                        <ul class="main-menu d-lg-inline-block">
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="/#" title=""><span class="main-menu-item-wrapper">ANASAYFA</span></a>
                            </li>
                            @foreach (var category in mainCategories)
                            {
                                var subCategories = categories.Where(x=> x.CategoryID != 0).ToList();
                                Html.RenderPartial("~/Views/_Partial/_MainMenu.cshtml", category, new ViewDataDictionary { { "SubCategories", subCategories } });
                            }
                            
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">KİTAPRAZZİ</span></a>
                            </li>
                            <li class="main-menu-item">
                                <a class="main-menu-item-link" href="javascript:;" title=""><span class="main-menu-item-wrapper">İLETİŞİM</span></a>
                            </li>
                            <li class="close-menu d-lg-none">X</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>