@model Kitaprazzi.Data.Model.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <div class="main-title">Şifremi Unuttum</div>
            </div>
            <div class="membership">
                <h3>E-posta adresinizi giriniz</h3>
                @using (Html.BeginForm("ForgatPassword", "User", FormMethod.Post, new { @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-12 col-md-4 col-lg-3">
                        @Html.TextBoxFor(x => x.Email, new { id = "EmailAdress", placeholder = "E-mail adresiniz" })
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="submit" value="Gönder" />
                    </div>
                    <div class="col-12">
                        <span class="message">@Html.ValidationSummary()</span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
