
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <div class="main-title">Üye Girişi</div>
            </div>
            <div class="membership">
                <h3>Üyelik bilgilerinizi giriniz</h3>
                <form class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="email" placeholder="E-mail adresiniz" value="" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="password" placeholder="Şifreniz" value="" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="submit" value="Giriş Yap" />
                    </div>
                    <div class="col options">
                        <a href="javascript:;" title="">Şifremi unuttum</a>
                        <a href="javascript:;" title="">Üye Ol</a>
                    </div>
                    <div class="col-12">
                        <span class="message">varsa bi uyarı buraya yazdırabiliriz adam</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <div class="main-title">Şifremi Unuttum</div>
            </div>
            <div class="membership">
                <h3>E-posta adresinizi giriniz</h3>
                <form class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="email" placeholder="E-mail adresiniz" value="" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="submit" value="Gönder" />
                    </div>
                    <div class="col-12">
                        <span class="message">varsa bi uyarı buraya yazdırabiliriz adam</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <div class="main-title">Yeni Üyelik</div>
            </div>
            <div class="membership">
                <h3>Üye olmak için aşağıdaki alanları doldurunuz</h3>
                <form class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="text" placeholder="Adınız soyadınız" value="" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="email" placeholder="E-mail adresiniz" value="" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="password" placeholder="Şifreniz" value="" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="submit" value="Kaydet" />
                    </div>
                    <div class="col options">
                        <a href="javascript:;" title="">Zaten üyeyim</a>
                    </div>
                    <div class="col-12">
                        <span class="message">varsa bi uyarı buraya yazdırabiliriz adam</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>