
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="membership">
                <h2>Üye Girişi</h2>
                <h3>Üye giriş bilgilerinizi giriniz</h3>
                <form class="sign-in">
                    <input type="email" placeholder="E-mail adresiniz" value="" />
                    <input type="password" placeholder="Şifreniz" value="" />
                    <input type="submit" value="Giriş Yap" />
                    <div class="options">
                        <a href="javascript:;" title="">Şifremi unuttum</a>
                        <a href="javascript:;" title="">Üye Ol</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="membership">
                <h2>Şifremi Unuttum</h2>
                <h3>E-posta adresinizi giriniz</h3>
                <form class="sign-in">
                    <input type="email" placeholder="E-mail adresiniz" value="" />
                    <input type="submit" value="Gönder" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="membership">
                <h2>Yeni Üyelik</h2>
                <h3>Üye olmak için aşağıdaki alanları doldurunuz</h3>
                <form class="sign-in">
                    <input type="text" placeholder="Adınız soyadınız" value="" />
                    <input type="email" placeholder="E-mail adresiniz" value="" />
                    <input type="password" placeholder="Şifreniz" value="" />
                    <input type="submit" value="Kaydet" />
                    <div class="options">
                        <a href="javascript:;" title="">Zaten üyeyim</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>