header {
    text-align: center;

    .container-fluid {
        background: $color-white;
        border-bottom: 1px solid $color-border;
        border-top: 1px solid $color-border;
        padding-bottom: 5px;
        padding-top: 5px;

        @include media(web) {
            padding: 20px 0;
        }
    }

    .row-menu {
        position: relative;
    }

    .col-menu {
        position: static;
    }
}

.mini-menu {
    &-item {
        display: inline-block;
        padding: 5px;

        &-link {
            color: $color-dove-gray;
            font-size: 10px;

            @include media(web) {
                font-size: 12px;
                font-weight: $fw-bold;
            }
        }
    }

    @include media(web) {
        float: right;
    }
}

.mobile-menu {
    cursor:pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: $fw-bold;
    padding: 10px 10px 5px;
}

.main-menu {
    background: $color-gallery;
    height: 100%;
    left: 100vw;
    padding-top: 40px;
    position: fixed;
    top: 0;
    transition: left .1s linear;
    width: 100%;
    z-index: 99;


    @include media(web) {
        background: $color-white;
        float: right;
        left: 0;
        padding: 0;
        position: static;
    }

    &-item {
        cursor: pointer;
        display: inline-block;
        padding: 4px 5px 0;

        @include media(wide) {
            padding-left: 10px;
            padding-right: 10px;
        }

        &-link {
            padding: 0 5px;

            @include media(wide) {
                padding: 0 10px;
            }

            .main-menu-item-wrapper {
                font-size: 15px;
                font-weight: $fw-black;
                line-height: 30px;

                .fa {
                    font-size: 12px;
                    position: relative;
                    right: 0;
                    top: -2px;
                }
            }
        }

        @include media(web) {


            &:hover {
                background: $color-spanish-white;
                border-radius: 5px;

                .main-menu-item-wrapper {
                    color: $color-bourbon;
                }

                .wide-menu {
                    display: flex;
                }
            }

            &.has-submenu {
                padding-right: 12px;

                &:hover {
                    border-radius: 5px 5px 0 0;
                }
            }
        }
    }

    &.opened {
        left: 0;


        .close-menu {
            background: $color-spanish-white;
            cursor: pointer;
            font: $fw-black 16px/36px $font2;
            height: 36px;
            position: absolute;
            right: 2px;
            top: 2px;
            width: 36px;
        }

        .main-menu-item {
            border-top: 1px solid $color-alto;
            width: 100%;

            &.has-submenu {
                padding: 0;
                position: relative;
            }

            &-link {
                display: block;
                padding: 0;
                width: 100%;
            }

            &-wrapper {
                display: block;
            }

            &:hover {
                .main-menu-item-link {
                    color: $color-black;
                }
            }

            .wide-menu {
                background: $color-alto;
                border: none;
                border-radius: 0;
                box-shadow: none;
                display: none;
                min-height: unset;
                padding: 0;
                position: static;
                transition: all .2s linear; 

                &.opened {
                    display: block;
                }

                .sub-menu-wrapper {
                    border-bottom: 1px solid $color-silver;
                    display: block;
                }

                .sub-menu-title {
                    display: block;
                    font-weight: $fw-bold;
                    padding: 10px 0;
                }

                .sub-menu {
                    display: none;
                    transition: all .2s linear;

                    &.opened {
                        display: block;
                    }

                    &-item {
                        > a {
                            border-top: 1px solid $color-silver;
                            display: block;
                            line-height: 20px;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

.wide-menu {
    background: $color-white;
    border-radius: 5px;
    border-top: 3px solid $color-spanish-white;
    box-shadow: $box-shadow;
    left: 0;
    position: absolute;
    top: 34px;
    width: 100%;
    z-index: 3;

    @include media(web) {
        display: none;
        text-align: left;

        .sub-menu {
            list-style-type:disc;
            padding-left:20px;
            padding-top:10px;
            width:80%;

            &-wrapper {
                padding: 20px;
            }

            &-title {
                border-bottom: 1px solid $color-mercury;
                display: block;
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
                width: 80%;
            }
            &-item{
                padding:5px 0;
                a{
                    line-height:20px;
                    padding:5px 0;
                }
            }
        }
    }
}

.search-box {
    background: $color-white;
    box-shadow: $box-shadow;
    margin-bottom: 25px;
    padding: 15px;

    @include media(tablet) {
        height:100%;
        margin: 0;
    }

    @include media(web) {
        padding: 25px 30px;
    }

    &-title {
        border-bottom: 1px solid $color-border;
        font: $fw-bold 16px/20px $font2;
        padding-bottom: 15px;
        text-align: center;

        @include media(web) {
            line-height: 30px;
            padding-bottom: 25px;
        }
    }

    &-line {
        margin-top: 15px;
        padding: 0;

        @include media(web) {
            margin-top: 25px;
        }

        &-title {
            color: $color-dove-gray;
            display: block;
            font-weight: $fw-bold;
            line-height: 20px;
            margin-bottom: 5px;

            @include media(web) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        &-element {
            select {
                background: $color-alabaster;
                border: 1px solid $color-border;
                border-radius: 3px;
                height: 38px;
                line-height: 28px;
                padding: 5px 10px;
                width: 100%;
            }
        }

        .find-button {
            background: $color-jungle-green;
            border: none;
            border-radius: 3px;
            color: $color-white;
            cursor: pointer;
            font-weight: $fw-black;
            height: 40px;
            letter-spacing: 1px;
            line-height: 30px;
            padding: 5px;
            text-align: center;
            width: 100%;

            @include media(web) {
                height: 50px;
                padding: 10px;
            }
        }
    }
}

.main-slider {
    background: #ccc;
    height: 50vw;

    @include media(tablet) {
        height: 100%;
        max-height:400px;
    }

    .swiper-slide {
        background: $color-silver;
    }

    .main-slide {
        &-item {
            display:block;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }

            &.type2 {
                align-items: center;
                background: url(../img/pattern.png) repeat;
                background-position: center center;
                background-size: cover;
                display: flex;
                height: 100%;
                justify-content: center;
                padding: 0 20px;
                position: relative;

                @include media(web) {
                    padding: 0 30px;
                }

                img {
                    height: auto;
                    margin-right: 20px;
                    max-width: 40vw;
                    width: auto;
                }
            }
        }

        &-title {
            color: $color-white;
            font: $fw-medium 14px/18px $font2;

            @include media(tablet) {
                font-size: 18px;
                line-height: 24px;
            }

            @include media(web) {
                font-size: 24px;
                font-weight: $fw-bold;
                line-height: 36px;
            }
        }

        &-button {
            background: $color-spanish-white;
            border-radius: 3px;
            color: $color-oregon;
            font-weight: $fw-black;
            line-height: 26px;
            margin-top: 20px;
            max-width: 250px;
            padding: 10px;
            text-align: center;
        }
    }

    .swiper-pagination-bullet{
        background:$color-nobel;
        height:12px;
        opacity:1;
        width:12px;
        &-active{
            background:$color-white;
        }
    }
}

.swiper-button {
    &-next, &-prev {
        background: rgba($color-black,.6);
        height: 44px;
        text-align: center;
        width: 44px;

        i {
            color: $color-gallery;
            font-size: 22px;
            line-height: 44px;
        }
    }

    &-next {
        right: 0;
    }

    &-prev {
        left: 0;
    }
}

.title-row {
    margin-bottom:20px;
    position: relative;
    @include media(web){
        margin-bottom:40px;
    }
    &:before {
        background: $color-mercury;
        content: "";
        height: 2px;
        left:0;
        margin-top:-1px;
        position:absolute;
        top:50%;
        width: 100%;
    }

    .main-title {
        background:$color-main-bg;
        color:$color-nevada;
        display:inline-block;
        font:$fw-bold 14px/20px $font2;
        padding-right:10px;
        position:relative;
        z-index:1;
        @include media(web){
            font-size:24px;
            line-height:30px;
        }
    }

    .main-link {
        background:$color-main-bg;
        font-size:14px;
        font-weight:$fw-black;
        height:20px;
        line-height:20px;
        margin-top:-10px;
        padding-left:20px;
        position:absolute;
        right:0;
        top:50%;
    }
}

.product {
    background: $color-white;
    box-shadow: $box-shadow;
    display: block;
    float: left;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    transition: all .2s linear;
    width: 100%;

    &:hover {
        box-shadow: 0 2px 1px rgba($color-black,.25);
    }

    @include media(tablet) {
        padding: 30px 20px;
    }

    > span {
        display: block;
        float: left;
        width: 100%;
    }

    &-image {
        margin-bottom: 10px;
        padding-bottom: 110%;
        position: relative;

        &-wrapper {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            position: absolute;
            width: 100%;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    &-publisher {
        color: $color-bourbon;
        font-size: 14px;
        font-weight: $fw-bold;
        line-height: 18px;
        margin: 5px 0;
        text-decoration: underline;
        @include line-clamp(1);
    }

    &-category {
        color: $color-black;
        line-height: 18px;
        margin: 5px 0;
        @include line-clamp(1);
    }

    &-title {
        color: $color-black;
        font-weight: $fw-bold;
        line-height: 18px;
        height: 36px;
        margin: 5px 0;
        @include line-clamp(2);
    }
}
.star-rating {
    margin-top: 10px;

    &-text {
        font: 700 18px/24px Tahoma;
        background: #fff2ca;
        padding: 2px 10px 2px 40px;
        position: relative;
        color:#333;
        i {
            font-size: 10px;
            line-height: 8px;
            position: absolute;
            text-align: left;
            left: 0;
            width: 32px;
            top: 0;
            height:26px;
            background:#f0f0f0;
            padding:5px 3px;
            color:#666;
        }
    }

    &__wrap {
        display: inline-block;
        font-size: 1rem;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__ico {
        float: right;
        padding-left: 2px;
        cursor: pointer;
        color: #FFB300;

        &:last-child {
            padding-left: 0;
        }

        &:hover {
            &:before, ~ .star-rating__ico:before {
                content: "\f005";
            }
        }
    }

    &__input {
        display: none;

        &:checked {
            ~ .star-rating__ico:before {
                content: "\f005";
            }
        }
    }
}

footer {
    background: $color-nevada;
    color: $color-white;
    text-align: center;


    .social {
        @include media(tablet) {
            padding: 10px 0;
        }

        &box {
            margin-top: 30px;

            @include media(tablet) {
                margin: 0;
            }
        }

        &-item {
            display: inline-block;
            float:left;
            margin:0 2px;
            text-align:center;
            width:40px;

            a {
                display: block;

                i {
                    color: $color-white;
                    font-size: 20px;
                    padding: 5px;
                    width:40px;

                    &[class*="facebook"] {
                        background: $color-facebook;
                    }

                    &[class*="twitter"] {
                        background: $color-twitter;
                    }

                    &[class*="google-plus"] {
                        background: $color-googleplus;
                    }

                    &[class*="instagram"] {
                        background: $color-instagram;
                    }
                }

            }
        }
    }

    .footer-bottom {
        background: #333;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .footer-top {
        background: #111;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .box {
        text-align: center;

        @include media(tablet) {
            text-align: left;
        }

        &-title {
            font-weight: $fw-bold;
            margin-bottom: 15px;
        }

        &-text {
            font: 400 11px/15px $font2;
            margin-bottom: 10px;
        }

        .newsletter-wrapper {
            background: $color-white;
            display: block;
            height: 50px;
            padding: 10px 40px 10px 15px;
            position: relative;
            width: 100%;

            input {
                background: transparent;
                border: none;
                height: 100%;
                line-height: 100%;
                text-align: left;
                width: 100%;
            }

            .subscribe {
                background: $color-supernova;
                height: 30px;
                position: absolute;
                right: 10px;
                text-align: center;
                top: 10px;
                width: 30px;

                i {
                    color: $color-white;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }

    .footer-middle {
        background: #111;
        border-top: 1px dotted #333;
        padding-bottom: 20px;
        padding-top: 20px;

        .foot-box {
            background: #222;
            display: block;
            margin: 1px 0;
            padding: 10px;
            position: relative;

            b {
                color: $color-white;
                font-weight: 700;
                line-height: 20px;
            }

            i {
                color: orange;
                float: right;
                font-size: 20px;
                line-height: 20px;
            }
        }

        .footer-links {
            margin-top: 20px;

            .foot-box {
                text-align: left;

                h2 {
                    color: #ddd;
                    font-weight: 700;
                    font-size: 13px;
                    margin: 10px 0;
                }

                a {
                    font-size: 12px;
                    color: #666;
                    line-height: 18px;
                }
            }
        }
    }
}

.filter {
    background: $color-spring-wood;
    box-shadow: $box-shadow;
    padding: 15px;

    &-title {
        border-bottom: 1px solid $color-gallery;
        font: $fw-bold 16px/28px $font2;
        padding-bottom: 15px;
        text-align: center;
    }

    &-list {
        &-item {
            margin-top: 15px;
        }

        &-title {
            color: $color-dove-gray;
            font-size: 16px;
            font-weight: $fw-bold;
            line-height: 28px
        }

        &-content {
            .check {
                display: block;
                padding: 5px 0;
            }

            .by-point {
                background: #f7f7f7;
                border: 1px solid #eaeaea;
                border-radius: 3px;
                display: block;
                height: 38px;
                line-height: 28px;
                margin-top: 10px;
                padding: 5px 10px;
                width: 100%;
            }
        }
    }
}

/*detail*/
.breadcrumbs{
    li{
        float:left;
        .item{
            font-size:12px;
            line-height:27px;
        }
        :after{
            content:">";
            margin:0 5px;
        }
        &:last-child{
            :after{
                content:"";
                display:none;
            }
        }
    }
}

.detail {
    background: $color-white;
    box-shadow: $box-shadow;
    margin-bottom:20px;
    padding: 15px 20px;
    @include media(web){
        height:100%;
        margin:0;
        padding:25px 30px;
    }

    &-title {
        font: $fw-bold 18px/27px $font2;
        margin-bottom:10px;
    }
    &-category{
        color:$color-bourbon;
        font-size:14px;
        font-weight:$fw-bold;
        text-decoration:underline;
    }
    &-description{
        display:block;
        > p{
            font-size:14px;
            line-height:20px;
            margin-top:20px;
            @include media(web){
                font-size:16px;
                line-height:24px;
                margin-top:30px;
            }
        }
    }
}

.image {
    &-wrapper {
        background: $color-white;
        box-shadow: $box-shadow;
        margin-bottom: 20px;

        @include media(web) {
            height: 100%;
            margin: 0;
        }
    }

    &-main {
        img {
            width: 100%;
        }
    }

    &-group {
        padding: 15px;

        > span {
            display: block;
            line-height: 24px;
            font-weight: $fw-bold;
            margin-bottom: 5px;
        }

        .image-list {
            border-bottom: 1px solid #eaeaea;
            display: inline-block;
            margin: 0 -8px 15px;
            padding-bottom: 15px;

            li {
                float: left;
                padding-left: 8px;
                padding-right: 8px;
                width: 33.333333%;
            }
        }

        .rating {
            li {
                background: #fff2ca;
                display:inline-block;
                width:100%;

                small {
                    display: inline-block;
                    padding: 11px 5px 9px;
                    width: 60%;
                    float:left;
                    background:#f8f8f8;
                }

                span {
                    font-weight: $fw-bold;
                    width:40%;
                    display:inline-block;
                    float:left;
                    padding:11px 5px 9px;
                    text-align:center;
                }
                /*&:last-child{
                    padding-top:10px;
                    margin-top:10px;
                    border-top:1px solid #eaeaea;
                    *{
                        font-size:16px;
                    }
                }*/
            }
        }
    }
}

.dealers{
    &-list{
        display:block;
        border-top:1px solid #eaeaea;
        margin-top:20px;
    }
    &-name{
        display:block;
        font-weight:$fw-bold;
        line-height:20px;
        margin-top:20px;
    }
    &-phone{
        display:block;
        line-height:20px;
    }
}

.comment {
    background: $color-white;
    box-shadow: $box-shadow;
    padding: 15px 20px;

    @include media(web) {
        padding: 25px 30px;
    }

    &-row {
        border-top: 1px solid #eaeaea;
        margin-top: 20px;
        padding-top: 20px;

        &:first-child {
            border: none;
            margin-top: 0;
            padding-top: 0;
        }

        div[class^="col"] {
            padding-left: 5px;
            padding-right: 5px;

            @include media(tablet) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &-post-row {
        border-top-width:5px;
        .comment-avatar {
            background: transparent;
        }

        .comment-post {
            width: 50%;

            textarea {
                width: 100%;
                height: 200px;
                padding: 20px;
                border: 1px solid #eee;
                margin-bottom: 10px;
                resize:none;
            }

            input {
                background: #27ae60;
                border: none;
                border-radius: 3px;
                color: #fff;
                cursor: pointer;
                font-weight: 900;
                height: 50px;
                letter-spacing: 1px;
                line-height: 30px;
                padding: 10px;
                text-align: center;
                
            }
        }
    }

    &-avatar {
        background: #edf2f6;
        border-radius: 50%;
        display: block;
        height: 40px;
        width: 40px;

        @include media(web) {
            height: 80px;
            width: 80px;
        }
    }

    &-name {
        color: $color-bourbon;
        font-size: 16px;
        font-weight: $fw-bold;
        line-height: 27px;
        margin-bottom: 5px;
        text-decoration: underline;
    }

    &-title {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
    }

    &-description {
        p {
            color: #666;
            line-height: 18px;
            margin-top: 20px;

            @include media(web) {
                font-size: 16px;
                line-height: 24px;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.membership {
    background: $color-white;
    box-shadow: $box-shadow;
    padding: 15px 20px;

    @include media(web) {
        padding: 25px 30px;
    }

    h3 {
        font-size: 14px;
        font-weight: $fw-bold;
        margin-bottom: 10px;
    }

    input {
        border: 1px solid #ccc;
        border-radius:3px;
        display: block;
        height: 42px;
        margin: 5px 0;
        padding: 5px 10px;
        width: 100%;

        &[type="button"], &[type="submit"] {
            background: #27ae60;
            border: none;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 5px;
            text-align: center;
        }
    }
    .options{
        margin-top:10px;
        @include media(web){
            margin-top:0;
        }
        a{
            clear:both;
            display:block;
            float:right;
            line-height:20px;
            margin:2px 0;
            text-decoration:underline;
        }
    }
    .message{
        color:$color-bourbon;
        display:block;
        margin-top:10px;
    }
}