//--Breakpoints------------------------------
@mixin media($point) {
    @if $point == tablet {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point == web {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point == wide {
        @media (min-width:1200px) {
            @content;
        }
    }
}

@mixin line-clamp($count){
    @if $count == 1{
        display:block!important;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }@else{
         -webkit-box-orient:vertical;
         display:block!important;
         display:-webkit-box!important;
         -webkit-line-clamp:$count;
         overflow:hidden;
         white-space:inherit;
     }
}
