@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=latin-ext');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    vertical-align: baseline;
}

html {
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
}

body {
    background: $color-main-bg;
    overflow-x: hidden;
    max-width: 100vw;
}

a:active, a:hover {
    color: $color-bourbon;
    outline: 0;
    text-decoration: none;
    transition: color .1s ease-in;
}

:focus {
    outline: 0;
}

strong {
    font-weight: bold;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: $color;
    text-decoration: none;
}

img {
    max-width: 100%;
}


// form elements
input[type="text"] {
    padding: 0;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    outline: none;
    overflow: visible;
    padding: 0;
    user-select: none; /* for button */
    -webkit-appearance: button; /* for input */
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* remove close button from search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
    display: none;
}

.mb {
    margin-bottom: $mb;
}
