/*set fonts*/
$font1: 'Roboto';
$font2: 'Montserrat';

/*set colors*/

$color-alabaster:               #f7f7f7;
$color-alto:                    #e0e0e0;
$color-black:                   #000;
$color-bourbon:                 #b46619;
$color-dove-gray:               #666;
$color-spanish-white:           #e6debb;
$color-gallery:                 #eaeaea;
$color-jungle-green:            #27ae60;
$color-mercury:                 #e3e3e3;
$color-nevada:                  #626f79;
$color-nobel:                   #b3b3b3;
$color-oregon:                  #984c02;
$color-porcelain:               #f2f3f4;
$color-silver:                  #ccc;
$color-san-marino:              #4267b2;
$color-scampi:                  #636cb0;
$color-spring-wood:             #f9f7f4;
$color-supernova:               #fec500;
$color-white:                   #fff;

$color:                         $color-black;
$color-main-bg:                 $color-porcelain;
$color-border:                  $color-gallery;
$color-facebook:                $color-san-marino;
$color-instagram:               $color-scampi;


/*font weight*/
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;



$mb: 30px;
$box-shadow: 0 1px 2px rgba($color-black,.1);


