//Anasayfa icin gerekli parcalar
@import "variables"; //Degiskenler
@import "reset"; //Reset
@import "../../bower_components/swiper/dist/css/swiper.min.css";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
@import "mixins"; //Hazir Mixinler
@import "main"; //Anasayfa Modulleri