
<div class="main-slider swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="main-slide-item type2">
                <img src="http://corinth.ascsa.net/image?type=preview&id=Corinth%3AImage%3Adigital%202014%2011149" alt="" />
                <span class="main-slide-info">
                    <span class="main-slide-title">BİR OCAK YAYINLARININ DİKKAT VE GÖRSEL ALGI KİTABINI OKUMUŞ MUYDUNUZ?</span>
                    <a href="javascript:;" title="" class="main-slide-button d-none d-md-block">KİTABI İNCELE</a>
                </span>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="main-slide-item">
                <img src="https://www.theclymb.com/cImages/Website_0/type_730/EPL01233_1163722.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev d-none d-md-block"><i class="fa fa-long-arrow-left"></i></div>
    <div class="swiper-button-next d-none d-md-block"><i class="fa fa-long-arrow-right"></i></div>
</div>