<div class="search-box">
    <div class="search-box-title">HANGİ KİTABI ARIYORSUNUZ?</div>
    <div class="search-box-line">
        <span class="search-box-line-title mb30">Sınıf Seçiniz</span>
        <span class="search-box-line-element">
            <select>
                <option selected>Okul Öncesi / 36-48 Ay</option>
                <option selected>Okul Öncesi / 36-48 Ay</option>
                <option selected>Okul Öncesi / 36-48 Ay</option>
            </select>
        </span>
    </div>
    <div class="search-box-line">
        <span class="search-box-line-title">Ders Seçiniz</span>
        <span class="search-box-line-element">
            <select>
                <option selected>Fen ve Doğa Deneyleri</option>
                <option selected>Fen ve Doğa Deneyleri</option>
                <option selected>Fen ve Doğa Deneyleri</option>
            </select>
        </span>
    </div>
    <div class="search-box-line">
        <input class="find-button" type="submit" value="KİTAPLARI BUL">
    </div>
</div>