<!--<connectionStrings>
  <add name="KitaprazziContext" connectionString="Data Source=DESKTOP-B8RKMAQ\SQLEXPRESS;Initial Catalog=Kitaprazzi;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>-->
<connectionStrings>
  <add name="KitaprazziContext" connectionString="Data Source=94.73.149.9;Initial Catalog=u8245154_kitaprazzi_db; User Id=u8245154_kitaprazzi;Password=KRzz123!*;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>