
@{
    ViewBag.Title = "NotFound";
}

<div style=" padding:20px;">
    <h3>
        Application Error:
    </h3>
    <h4>
        Sorry, The Page, You are Looking for is not found.
    </h4>
    <h6>@Html.ActionLink("Ana sayfaya Geri Dön", "Index", "Home")</h6>
    <br />
    <br />
</div>
