
@{
    ViewBag.Title = "Aradığınız sayfa bulanamadı";
}

<div class="container">
    <div class="row">
        <div class="col message">
            <img src="~/Assets/dist/img/404.png" alt="Aradığınız sayfa bulunamadı" />
            <div>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</div>
        </div>
    </div>
</div>

<style type="text/css">
    .message {
        align-items: center;
        justify-content: center;
        min-height: 200px;
        display: flex;
        margin-bottom:30px;
        background:#eee;
        flex-direction:column;
        padding-bottom:20px;
    }
    a{
        font-size:16px;
    }
</style>