@model Kitaprazzi.Data.Model.Lesson
@{
    ViewBag.Title = "Add Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Basic form -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    @Html.HiddenFor(x => x.ID)
                    <form role="form">
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ders Adı</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "lessonName", placeholder = "Ders Adı" })
                        </div>
                     
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.StatusList, "Value", "Name"), ("Select Item"), new {@class = "form-control", id = "status"})
                        </div>
                        <a href="#" class="btn btn-default" onclick="AddLesson()">Save</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic form -->
    
</div>